<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta property="og:title" content="Gif as thumbnail by calebwelsh.info" />
    <meta id="troll-meta" property="og:image" content="">
    <meta property="og:url" id="troll-meta" content="">
    <meta property="og:image:type" content="image/gif">
    <meta property="og:image:width" id="troll-width" content="">
    <meta property="og:image:height" id="troll-height" content="">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/assets/js/troll.js"></script>
  </head>
  <body>
    <img id="troll"></img>
  </body>
</html>
